header{
    background-color: #6610f2;

}
.navbar{
    background-color: #6610f2;

}
link {
    display: none;
  }
body {
    margin: 0;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-size: 1.08333333rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444B5A;
    text-align: left;
    background-color: #8f8f8f;
}
table{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #626774;
    --gray-dark: #272E3F;
    --o-cc5-btn-secondary: #F6F6F6;
    --o-cc5-headings: #FFFFFF;
    --o-cc5-bg: #383E45;
    --o-cc4-btn-secondary: #F6F6F6;
    --o-cc4-btn-primary: #383E45;
    --o-cc4-bg: #35979c;
    --o-cc3-btn-secondary: #F6F6F6;
    --o-cc3-bg: #685563;
    --o-cc2-headings: #35979c;
    --o-cc2-bg: #F6F6F6;
    --o-cc1-bg: #FFFFFF;
    --o-color-5: #383E45;
    --o-color-4: #FFFFFF;
    --o-color-3: #F6F6F6;
    --o-color-2: #685563;
    --o-color-1: #35979c;
    --primary: #017e84;
    --secondary: #444B5A;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffac00;
    --danger: #dc3545;
    --light: #f6f7fa;
    --dark: #091124;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --o-input-border-color: #ccc;
    --100: #f6f7fa;
    --200: #E0E2E6;
    --300: #C9CCD2;
    --400: #9DA1AA;
    --500: #80848F;
    --600: #626774;
    --700: #444B5A;
    --800: #272E3F;
    --900: #091124;
    --white-85: rgba(255, 255, 255, 0.85);
    --white-75: rgba(255, 255, 255, 0.75);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-25: rgba(255, 255, 255, 0.25);
    --black-75: rgba(0, 0, 0, 0.75);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-25: rgba(0, 0, 0, 0.25);
    --black-15: rgba(0, 0, 0, 0.15);
    --black: #000000;
    --white: #FFFFFF;
    --o-cc1-text: #091124;
    --o-cc1-headings: #091124;
    --o-cc1-h2: #091124;
    --o-cc1-h3: #091124;
    --o-cc1-h4: #091124;
    --o-cc1-h5: #091124;
    --o-cc1-h6: #091124;
    --o-cc1-link: #017e84;
    --o-cc1-btn-primary: #017e84;
    --o-cc1-btn-primary-border: #017e84;
    --o-cc1-btn-secondary: #444B5A;
    --o-cc1-btn-secondary-border: #444B5A;
    --o-cc2-text: #091124;
    --o-cc2-h2: #35979c;
    --o-cc2-h3: #35979c;
    --o-cc2-h4: #35979c;
    --o-cc2-h5: #35979c;
    --o-cc2-h6: #35979c;
    --o-cc2-link: #017075;
    --o-cc2-btn-primary: #017e84;
    --o-cc2-btn-primary-border: #017e84;
    --o-cc2-btn-secondary: #444B5A;
    --o-cc2-btn-secondary-border: #444B5A;
    --o-cc3-text: #fff;
    --o-cc3-headings: #fff;
    --o-cc3-h2: #fff;
    --o-cc3-h3: #fff;
    --o-cc3-h4: #fff;
    --o-cc3-h5: #fff;
    --o-cc3-h6: #fff;
    --o-cc3-link: #003638;
    --o-cc3-btn-primary: #017e84;
    --o-cc3-btn-primary-border: #017e84;
    --o-cc3-btn-secondary-border: #F6F6F6;
    --o-cc4-text: #fff;
    --o-cc4-headings: #fff;
    --o-cc4-h2: #fff;
    --o-cc4-h3: #fff;
    --o-cc4-h4: #fff;
    --o-cc4-h5: #fff;
    --o-cc4-h6: #fff;
    --o-cc4-link: #16181b;
    --o-cc4-btn-primary-border: #383E45;
    --o-cc4-btn-secondary-border: #F6F6F6;
    --o-cc5-text: #fff;
    --o-cc5-h2: #FFFFFF;
    --o-cc5-h3: #FFFFFF;
    --o-cc5-h4: #FFFFFF;
    --o-cc5-h5: #FFFFFF;
    --o-cc5-h6: #FFFFFF;
    --o-cc5-link: #02c6d0;
    --o-cc5-btn-primary: #017e84;
    --o-cc5-btn-primary-border: #017e84;
    --o-cc5-btn-secondary-border: #F6F6F6;
    --o-grid-gutter-width: 32px;
    --o-md-container-max-width: 720px;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-size: 1.08333333rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444B5A;
    text-align: left;
    direction: ltr;
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    align-content: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 8px 8px;
    flex-flow: row wrap;
}